html *
{
   font-family: Roboto !important;
}

.accordion_item {
    box-shadow: rgba(0,0,255, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.mantine-Slider-label {
    font-weight: bold;
}

.control-col {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
    position: sticky;
    top: 2rem;
    height: 100vh;
}

.header-text-col {
    float: left;
    vertical-align: middle;
}

.logo-col {
    max-width: 150px;
    margin-top: 5px;
    float: right;
    vertical-align: middle;
    margin-right: 20px;
}

.td-col-chart {
    padding: 0;
    margin: 0;
}

.btn-output-selector {
box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.cont-output-selector {
    position: sticky !important;
    top: 2rem !important;
}

.col-total-output-selector {
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #F5F5F5;
}